[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true
jupyter = "*"

[dev-packages]
pylint = "*"
mypy = "*"
yapf = "*"
scrapy = "*"
jupyterthemes = "*"
jupyter-contrib-nbextensions = "*"
autopep8 = "*"
plotly = "*"
awswrangler = "*"
pyaml = "*"

[packages]
numpy = "==1.18.0"
requests = "==2.22.0"
requests-html = "==0.10.0"
pyathena = "*"
pandas = "*"

[requires]
python_version = "3.8"
